n8n-workflows/1-sync-domains-from-cloudflare.json
{
  "name": "Sync Domains",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-domains",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "id": "8471576d-a358-4c21-974a-2771ecfbbb5c",
      "name": "Webhook",
      "webhookId": "28c01c4d-14fd-4637-a8c5-162c2a1499b1"
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/zones",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloudflareApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        460,
        300
      ],
      "id": "66997095-7745-49b0-97de-b4135468786f",
      "name": "List Cloudflare Zones",
      "credentials": {
        "cloudflareApi": {
          "id": "XJLhfLPAwECPRrRb",
          "name": "Cloudflare account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst zones = input.json.result || [];\nconst domains = [];\n\nfor (const zone of zones) {\n    domains.push({ \n        json: {\n            domain: zone.name,\n            cloudflareZoneId: zone.id,\n            nameServers: (zone.name_servers || []).join(', '),\n            registrar: zone.original_registrar || 'Unknown',\n        }\n    });\n}\n\nreturn domains;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "a134cd1b-a867-4c6b-9d6f-3be88fcb5ae0",
      "name": "Extract Zones"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "HhIjOZoqh2MciLvC",
          "mode": "list",
          "cachedResultName": "domains",
          "cachedResultUrl": "/projects/GZaAImtP0U41Lgwk/datatables/HhIjOZoqh2MciLvC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "domain",
              "keyValue": "={{ $json.domain }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain": "={{ $json.domain }}",
            "cloudflareZoneId": "={{ $json.cloudflareZoneId }}",
            "nameServers": "={{ $json.nameServers }}",
            "registrar": "={{ $json.registrar }}"
          },
          "matchingColumns": [
            "domain"
          ],
          "schema": [
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cloudflareZoneId",
              "displayName": "cloudflareZoneId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nameServers",
              "displayName": "nameServers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "registrar",
              "displayName": "registrar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "id": "67cd32e5-143f-4466-9260-045721b2b663",
      "name": "Upsert to Data Table"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    success: true,\n    domainsProcessed: items.length,\n    domainsUpdated: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "format-response-001",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1340,
        300
      ],
      "id": "webhook-response-001",
      "name": "Webhook Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "List Cloudflare Zones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Cloudflare Zones": {
      "main": [
        [
          {
            "node": "Extract Zones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zones": {
      "main": [
        [
          {
            "node": "Upsert to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Data Table": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}