n8n-workflows/2-get-domains.json
{
  "name": "Get All Domains",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-domains",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "get-domains"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "domains",
        "returnAll": true,
        "options": {}
      },
      "id": "read-data-table",
      "name": "Read Domains Table",
      "type": "n8n-nodes-base.n8nTables",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst thirtyDaysFromNow = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000);\n\nconst processedDomains = items.map(item => {\n  const data = item.json;\n  let renewalStatus = 'unknown';\n  let daysUntilExpiration = null;\n\n  // Sanitize expirationDate - reject n8n expression strings\n  let expirationDate = data.expirationDate || null;\n  if (expirationDate && (expirationDate.includes('{{') || expirationDate.includes('$json'))) {\n    expirationDate = null;\n  }\n  if (expirationDate) {\n    const testDate = new Date(expirationDate);\n    if (isNaN(testDate.getTime())) {\n      expirationDate = null;\n    }\n  }\n\n  if (expirationDate) {\n    const expDate = new Date(expirationDate);\n    daysUntilExpiration = Math.ceil((expDate - now) / (1000 * 60 * 60 * 24));\n\n    if (expDate < now) {\n      renewalStatus = 'expired';\n    } else if (expDate < thirtyDaysFromNow) {\n      renewalStatus = 'warning';\n    } else {\n      renewalStatus = 'healthy';\n    }\n  }\n\n  // Map statusCategory - keep 'unknown' for unchecked domains\n  const httpStatus = parseInt(data.httpStatus, 10) || 0;\n  let statusCategory = data.statusCategory || 'unknown';\n  if (httpStatus === 0 && (!statusCategory || statusCategory === 'down')) {\n    statusCategory = 'unknown';\n  }\n\n  return {\n    json: {\n      id: data.id || data.domain,\n      domain: data.domain,\n      httpStatus: httpStatus,\n      statusCategory: statusCategory,\n      registrar: data.registrar || 'Unknown',\n      nameServers: data.nameServers || '',\n      expirationDate: expirationDate,\n      createdDate: data.createdDate || null,\n      lastChecked: data.lastChecked,\n      cloudflareZoneId: data.cloudflareZoneId || '',\n      renewalStatus: renewalStatus,\n      daysUntilExpiration: daysUntilExpiration,\n      createdAt: data.createdAt,\n      updatedAt: data.updatedAt\n    }\n  };\n});\n\nreturn processedDomains;"
      },
      "id": "calculate-renewal-status",
      "name": "Calculate Renewal Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Domains Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Domains Table": {
      "main": [
        [
          {
            "node": "Calculate Renewal Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Renewal Status": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T00:00:00.000Z",
  "versionId": "2"
}
