n8n-workflows/2-get-domains.json
{
  "name": "Get Domains",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-domains",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "343c0942-4bd9-4422-9be1-ecdea7f1cdf2",
      "name": "Webhook",
      "webhookId": "c742ac5c-15b8-4c15-915d-f0b990afd466"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "HhIjOZoqh2MciLvC",
          "mode": "list",
          "cachedResultName": "domains",
          "cachedResultUrl": "/projects/GZaAImtP0U41Lgwk/datatables/HhIjOZoqh2MciLvC"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "91eef749-1ccf-4b7b-be55-89f2da925144",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst thirtyDaysFromNow = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000);\n\nfunction sanitizeExpirationDate(value) {\n  if (!value) return null;\n  if (typeof value === 'string' && (value.includes('{{') || value.includes('$json'))) return null;\n  const date = new Date(value);\n  if (isNaN(date.getTime())) return null;\n  return value;\n}\n\n// Filter out internal config rows (e.g. __slack_config__)\nconst filtered = items.filter(item => {\n  const domain = item.json.domain || '';\n  return !domain.startsWith('__');\n});\n\nconst processedDomains = filtered.map(item => {\n  const data = item.json;\n  let renewalStatus = 'unknown';\n  let daysUntilExpiration = null;\n  \n  const cleanExpDate = sanitizeExpirationDate(data.expirationDate);\n  \n  if (cleanExpDate) {\n    const expDate = new Date(cleanExpDate);\n    daysUntilExpiration = Math.ceil((expDate - now) / (1000 * 60 * 60 * 24));\n    \n    if (expDate < now) {\n      renewalStatus = 'expired';\n    } else if (expDate < thirtyDaysFromNow) {\n      renewalStatus = 'warning';\n    } else {\n      renewalStatus = 'healthy';\n    }\n  }\n  \n  // Parse statusCategory — may contain redirect target encoded as 'redirect:targetdomain.com'\n  let rawStatusCategory = data.statusCategory || 'unknown';\n  let statusCategory = rawStatusCategory;\n  let redirectTo = '';\n  if (rawStatusCategory.startsWith('redirect:')) {\n    statusCategory = 'redirect';\n    redirectTo = rawStatusCategory.substring('redirect:'.length);\n  }\n  \n  const httpStatus = data.httpStatus || 0;\n  // Only mark as 'unknown' if domain was never checked (no statusCategory set)\n  // If statusCategory === 'down', preserve it (domain was checked but failed)\n  if (httpStatus === 0 && (!statusCategory || statusCategory === 'unknown')) {\n    statusCategory = 'unknown';\n  }\n  \n  return {\n    json: {\n      id: data.id || data.domain,\n      domain: data.domain,\n      httpStatus: httpStatus,\n      statusCategory: statusCategory,\n      redirectTo: redirectTo,\n      registrar: data.registrar || 'Unknown',\n      nameServers: data.nameServers || '',\n      expirationDate: cleanExpDate,\n      createdDate: data.createdDate || null,\n      lastChecked: data.lastChecked,\n      cloudflareZoneId: data.cloudflareZoneId || '',\n      renewalStatus: renewalStatus,\n      daysUntilExpiration: daysUntilExpiration,\n      excluded: data.excluded === true || data.excluded === 'true'\n    }\n  };\n});\n\nreturn processedDomains;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "calc-renewal-001",
      "name": "Calculate Renewal Status"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "54d0a3f8-3585-4d7c-b5ae-0c80360015f6",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Calculate Renewal Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Renewal Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}