n8n-workflows/2-get-domains.json
{
  "name": "Get All Domains",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-domains",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "get-domains"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "domains",
        "returnAll": true,
        "options": {}
      },
      "id": "read-data-table",
      "name": "Read Domains Table",
      "type": "n8n-nodes-base.n8nTables",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst twoWeeksFromNow = new Date(now.getTime() + 14 * 24 * 60 * 60 * 1000);\n\nconst processedDomains = items.map(item => {\n  const data = item.json;\n  let renewalStatus = 'unknown';\n  let daysUntilExpiration = null;\n  \n  if (data.expirationDate) {\n    const expDate = new Date(data.expirationDate);\n    daysUntilExpiration = Math.ceil((expDate - now) / (1000 * 60 * 60 * 24));\n    \n    if (expDate < now) {\n      renewalStatus = 'expired';\n    } else if (expDate < twoWeeksFromNow) {\n      renewalStatus = 'warning';\n    } else {\n      renewalStatus = 'healthy';\n    }\n  }\n  \n  return {\n    json: {\n      id: data.id || data.domain,\n      domain: data.domain,\n      httpStatus: data.httpStatus || 0,\n      statusCategory: data.statusCategory || 'down',\n      registrar: data.registrar || 'Unknown',\n      nameServers: data.nameServers || '',\n      expirationDate: data.expirationDate,\n      createdDate: data.createdDate || null,\n      lastChecked: data.lastChecked,\n      cloudflareZoneId: data.cloudflareZoneId || '',\n      renewalStatus: renewalStatus,\n      daysUntilExpiration: daysUntilExpiration\n    }\n  };\n});\n\nreturn processedDomains;"
      },
      "id": "calculate-renewal-status",
      "name": "Calculate Renewal Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Domains Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Domains Table": {
      "main": [
        [
          {
            "node": "Calculate Renewal Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Renewal Status": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
