n8n-workflows/3-scheduled-status-check.json
{
  "name": "Scheduled Status Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "domains",
        "returnAll": true,
        "options": {}
      },
      "id": "read-domains",
      "name": "Read All Domains",
      "type": "n8n-nodes-base.n8nTables",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch-domains",
      "name": "Batch Domains",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check HTTP status for each domain in the batch\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const domain = item.json.domain;\n  let httpStatus = 0;\n  let statusCategory = 'down';\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'HEAD',\n      url: `https://${domain}`,\n      followRedirect: false,\n      timeout: 10000,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n    httpStatus = response.statusCode || 0;\n    if (httpStatus >= 200 && httpStatus < 300) {\n      statusCategory = 'healthy';\n    } else if (httpStatus >= 300 && httpStatus < 400) {\n      statusCategory = 'redirect';\n    } else {\n      statusCategory = 'down';\n    }\n  } catch (e) {\n    httpStatus = 0;\n    statusCategory = 'down';\n  }\n\n  results.push({\n    json: {\n      domain: domain,\n      httpStatus: httpStatus,\n      statusCategory: statusCategory,\n      lastChecked: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "check-status",
      "name": "Check Website Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "domains",
        "fieldsUi": {
          "values": [
            {
              "column": "httpStatus",
              "value": "={{ $json.httpStatus }}"
            },
            {
              "column": "statusCategory",
              "value": "={{ $json.statusCategory }}"
            },
            {
              "column": "lastChecked",
              "value": "={{ $json.lastChecked }}"
            }
          ]
        },
        "matchingColumns": ["domain"]
      },
      "id": "update-data-table",
      "name": "Update Status in Table",
      "type": "n8n-nodes-base.n8nTables",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "status_checks",
        "fieldsUi": {
          "values": [
            {
              "column": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "column": "httpStatus",
              "value": "={{ $json.httpStatus }}"
            },
            {
              "column": "checkedAt",
              "value": "={{ $json.lastChecked }}"
            }
          ]
        }
      },
      "id": "log-status-check",
      "name": "Log Status Check",
      "type": "n8n-nodes-base.n8nTables",
      "typeVersion": 1,
      "position": [1120, 480]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read All Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Domains": {
      "main": [
        [
          {
            "node": "Batch Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Domains": {
      "main": [
        [
          {
            "node": "Check Website Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Status": {
      "main": [
        [
          {
            "node": "Update Status in Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Table": {
      "main": [
        [
          {
            "node": "Batch Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T00:00:00.000Z",
  "versionId": "2"
}
